- name: Ensure Batfish snapshot folder exists
  hosts: localhost
  tasks:
    - name: Create snapshot root folder
      file:
        path: ./snapshots/ci_net
        state: directory
        mode: '0755'

    - name: Create manual and generated folders
      file:
        path: "./snapshots/ci_net/configs/{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - manual
        - generated
