hostname {{ hostname }}
!
{% for intf in interfaces %}
interface {{ intf.name }}
 description {{ intf.description | default("managed-by-ci") }}
 {% if intf.ip %}ip address {{ intf.ip }} {{ intf.mask }}{% endif %}
 {% if not intf.active %}shutdown{% endif %}
!
{% endfor %}

{% if bgp %}
router bgp {{ bgp.local_as }}
 bgp router-id {{ bgp.router_id }}
{% for nbr in bgp.neighbors %}
 neighbor {{ nbr.ip }} remote-as {{ nbr.remote_as }}
{% if nbr.description %} neighbor {{ nbr.ip }} description {{ nbr.description }}{% endif %}
{% endfor %}
{% endif %}

{% if acls %}
{% for acl in acls %}
ip access-list extended {{ acl.name }}
{% for line in acl.lines %}
 {{ line.action }} {{ line.proto }} {{ line.src }} {{ line.src_port | default("") }} {{ line.dst }} {{ line.dst_port | default("") }}
{% endfor %}
!
{% endfor %}
{% endif %}

{% if default_gateway %}
ip route 0.0.0.0 0.0.0.0 {{ default_gateway }}
{% endif %}

line vty 0 4
 login local
!
end
