{% for intf in interfaces %}
set interfaces {{ intf.name }} unit 0 family inet address {{ intf.ip }}/{{ intf.prefixlen }}
{% if not intf.active %}
set interfaces {{ intf.name }} disable
{% endif %}
{% endfor %}

{% if hostname %}
set system host-name {{ hostname }}
{% endif %}

{% if bgp %}
set routing-options router-id {{ bgp.router_id }}
set protocols bgp group {{ bgp.group_name }} type {{ bgp.type | default("external") }}
set protocols bgp group {{ bgp.group_name }} local-as {{ bgp.local_as }}
{% for nbr in bgp.neighbors %}
set protocols bgp group {{ bgp.group_name }} neighbor {{ nbr.ip }} peer-as {{ nbr.remote_as }}
{% endfor %}
{% endif %}

{% if static_routes %}
{% for r in static_routes %}
set routing-options static route {{ r.network }} next-hop {{ r.next_hop }}
{% endfor %}
{% endif %}
