set deviceconfig system hostname {{ hostname }}

{% for intf in interfaces %}
set network interface ethernet {{ intf.name }} layer3 units ethernet.{{ loop.index0 }} ip {{ intf.ip }}/{{ intf.prefixlen }}
{% if not intf.active %}
# note: disabling interface (panos cli may use different form in real device)
set network interface ethernet {{ intf.name }} enable no
{% endif %}
{% endfor %}

{% if management_ip %}
set deviceconfig system ip-address {{ management_ip }}
set deviceconfig system netmask {{ management_mask }}
set deviceconfig system default-gateway {{ default_gateway }}
{% endif %}

{% if virtual_routers %}
{% for vr in virtual_routers %}
set network virtual-router {{ vr.name }} interface {{ vr.interfaces | join(' ') }}
{% if vr.bgp %}
set network virtual-router {{ vr.name }} protocol bgp enable yes
set network virtual-router {{ vr.name }} protocol bgp local-as {{ vr.bgp.local_as }}
{% for nbr in vr.bgp.neighbors %}
set network virtual-router {{ vr.name }} protocol bgp peer {{ nbr.ip }} peer-as {{ nbr.remote_as }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if security_rules %}
{% for rule in security_rules %}
set rulebase security rules {{ rule.name }} from {{ rule.from }} to {{ rule.to }} source {{ rule.source | join(' ') }} destination {{ rule.destination | join(' ') }} application {{ rule.application | join(' ') }} action {{ rule.action }}
{% endfor %}
{% endif %}
